# Compiled binaries and object files
student_app
cert_app
student_array
certificate_registry
admission_system
Student_Array/student_array
Certificate_Verification/certificate_registry
Certificate_Verification/admission_system
*.o
*.out
*.exe
